NETUID=19
SUBTENSOR_NETWORK=finney

REGISTRY_URL=https://registry.blockmachine.io

GATEWAY_AUTH_URL=https://auth.taostats.io
GATEWAY_CLIENT_ID=35cc50f5-6bf5-432b-8892-84c3b0e856b2

WALLET_NAME=validator
WALLET_HOTKEY=default
# WALLET_HOTKEY_SEED=

DB_ENABLED=true
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_NAME=blockmachine_validator
LOCAL_DB_USER=validator
LOCAL_DB_PASSWORD=
DB_RETENTION_DAYS=30

METRICS_PORT=9090
